.listContainer {
	background-color: #fbfbfb;
	padding: 10px 10px 5px 10px;
	display: inline-block;
	border: 1px dashed #999999;
}

ul.list {
	list-style-type: none;
	padding: 0px;
}
ul.list li {
	width: 400px;
	padding: 3px 10px;
	margin: 2px;
	background-color: #eeeeee;
	height: 20px;
}
ul.list li.listNewItem {
	background-color: transparent;
}
ul.list li div {
	display: inline;
	float: left;
}
ul.list li div.textElem {
	width: 300px;
}
ul.list li div.deleteElem {
	width: 100px;
	cursor: pointer;
	text-align: center;
}
ul.list li div.saveBtnElem {
	width: 100px;
	text-align: center;
}